#app a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
#app div, #app p {
  color: black;
}
#app a:hover {
  color: #535bf2;
  text-decoration: underline;
}
#app .ais-SearchBox {
  padding-bottom: 30px;
}
#app .ais-SearchBox-input {
  padding: 0.3rem 3.7rem;
}
#app .ais-Pagination-item--selected a {
  color: white;
}
#app .ais-Pagination {
  padding-top: 50px;
}

#app button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
#app button:hover {
  border-color: #646cff;
}
#app button:focus,
#app button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app .card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  #app a:hover {
    color: #747bff;
  }
  #app button {
    background-color: #f9f9f9;
  }
}
